RewriteEngine On
RewriteBase /

# Izinkan akses langsung ke folder tertentu
RewriteCond %{REQUEST_URI} ^/(Client|Config|Controller|Image|Style)/
RewriteRule ^ - [L]

# Handle PHP requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]