body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    position: relative;
    flex-direction: row;
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.background-section {
    width: 125%;
    margin-top: -150px;
    background: url('/Image/bg\ login.jpeg') no-repeat center center;
    background-size: cover;
    justify-items: center;
}

.background-section img{
    margin-top: 200px;
    width: 150px;
    margin-left: 420px;
}

.login-section {
    width: 55%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.login-section h2 {
    font-size: 30px;
    margin: 0 0 40px 0;
    color: #91553D;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    margin-bottom: 15px;
    width: 100%;
    padding: 12px;
    border: 1px solid #91553D;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    outline: none;
    position: relative;
    z-index: 1;
}

.input-group input::placeholder {
    color: transparent;
}

.input-group label {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #91553D;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -25px;
    left: 10px;
    font-size: 15px;
    color: #a26449;
    background: #fff;
}

.input-group input:focus {
    border-color: #a26449;
}

.forgot-password {
    color: #91553D;
    text-decoration: none;
    font-size: 15px;
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password:hover {
    color: #a26449;
    text-decoration: underline;
}

button {
    background-color: #91553D;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 450px;
}

button:hover {
    background-color: #a26449;
}

.create-account {
    text-align: center;
    color: #91553D;
    text-decoration: none;
    font-size: 15px;
    margin-top: 10px;
}

.create-account:hover {
    color: #a26449;
    text-decoration: underline;
}