*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f0d8a5;
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    width: 180px;
}

.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f0d8a5;
    animation: show-right 1.5s ease-out forwards;
}

@keyframes show-right{
    100%{
        width: 0;

    }
}

.navigation a{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px 10px;
    font-weight: 600;
    font-size: 20px;
    background-color: #b1734c;
}

.navigation a:hover, .navigation a.active{
    background: #925e3e;
    color: #ffffff;
}

#welcome1 {
    z-index: 2; 
    position: absolute;
}

#welcome2 {
    z-index: 1; 
    position: absolute;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: relative;
    z-index: 3;
    font-size: 5em;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.185);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}


.sec{
    position: relative;
    background: #f0d8a5;
    padding: 70px;
    z-index: 4;
}

.sec h2{
    position: relative;
    font-size: 3em;
    color:#b1734c;
    margin-bottom: 10px;
}

.sec h2 .showRight-animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f0d8a5;
    transition: 2s;
}

.sec h2.show-animate .showRight-animate{
    width: 0;
}

.sec p{
    position: relative;
    font-size: 1.2em;
    color: #b1734c;
    font-weight: 300;
}

.sec p {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.sec p.show-animate {
    opacity: 1;
    transform: translateY(0);
}

.footer {
    background-color: #925e3e;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    bottom: 0;
    left: 0;
}

