<div class="col-mt-2 bg-dark min-vh-100 p-0">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white">
        <span class="fs-4 mb-4"><\> YoAdmin</span>
        <ul class="nav nav-pills flex-column gap-2 mb-auto">
            <li class="nav-item">
                <a href="#users" class="nav-link text-white active d-flex align-items-center" data-bs-toggle="pill">
                    <i class="fas fa-users me-3"></i>
                    <span>Users</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#yostay" class="nav-link text-white d-flex align-items-center" data-bs-toggle="pill">
                    <i class="fas fa-hotel me-3"></i>
                    <span>YoStay</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#yoconcert" class="nav-link text-white d-flex align-items-center" data-bs-toggle="pill">
                    <i class="fas fa-music me-3"></i>
                    <span>YoShow</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#yotaste" class="nav-link text-white d-flex align-items-center" data-bs-toggle="pill">
                    <i class="fas fa-utensils me-3"></i>
                    <span>YoTaste</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#yotrip" class="nav-link text-white d-flex align-items-center" data-bs-toggle="pill">
                    <i class="fas fa-plane me-3"></i>
                    <span>YoTrip</span>
                </a>
            </li>
        </ul>
    </div>
</div>